* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Roboto", "Times New Roman", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* section 1 */

.section-1 {
  flex: 1;
  background-color: #1f2937;
}

.top {
  display: flex;
  justify-content: space-evenly;
  padding: 12px;
}

.headline,
.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}

.headline {
  font-size: 48px;
  font-weight: bolder;
}

.paragraph,
a {
  color: #e5e7eb;
  font-size: 18px;
}

ul {
  list-style: none;
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
}

.content-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 88px 0;
  gap: 72px;
  flex-wrap: wrap;
}

.left-side {
  width: 400px;
  flex-shrink: 0;
  margin: 72px;
}

.sign-up {
  padding-top: 12px;
}

.right-side {
  /* flex: 1; */
  width: auto;
  flex-basis: 500px;
  background-color: grey;
  min-height: 250px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* section 2 */

.section-2 {
  flex: 1;
  display: flex;
  padding: 100px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.content-2 {
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.container-2 {
  display: flex;
  gap: 30px;
}

.sub-content {
  flex-wrap: wrap;
}

.headline-2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  padding: 18px;
}

.illustration {
  height: 150px;
  width: 150px;
  border: 2px solid #3882f6;
  border-radius: 10%;
}

.sub-info {
  width: 150px;
  padding-top: 5px;
}

/* section 3 */

.section-3 {
  flex: 1;
  display: flex;
  background-color: #e5e7eb;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.container {
  width: 800px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-family: "cursive", serif;
  color: #1f2937;
  padding: 12px;
}

.author {
  align-self: flex-end;
  font-size: 18px;
  font-weight: bold;
}

/* section 4 */

.section-4 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.background {
  background-color: #3883f6;
  width: 1000px;
  height: 150px;
  border: 2px solid #3883f6;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.call-to-action {
  flex: 2;
  display: flex;
  justify-content: center;
  padding-left: 100px;
  flex-direction: column;
  flex-wrap: wrap;
}

.part-1,
.part-2 {
  color: white;
}

.part-1 {
  font-size: 18px;
  font-weight: bold;
}

.button-4 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  flex-wrap: wrap;
}

button {
  padding: 14px 28px;
  color: white;
  background-color: #3882f6;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
}

/* footer */

.footer {
  height: 100px;
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  padding: 0px 25px;
}
